$mobile-breakpoint: 600px;

:block(theme) {
    &:mod(font default) {
        --font: arial, sans-serif;
        --editor-font: "PT Mono", sans-serif
    }

    &:mod(size default) {
        --line-xs: 15px;
        --line-s: 18px;
        --line-m: 20px;
        --line-l: 28px;

        --font-xxs: 12px;
        --font-xs: 13px;
        --font-s: 14px;
        --font-m: 16px;
        --font-l: 20px;
        --font-xl: 24px;
    }

    &:mod(space default) {
        --space-xxxxs: 2px;
        --space-xxxs: 4px;
        --space-xxs: 8px;
        --space-xs: 10px;
        --space-s: 12px;
        --space-m: 16px;
        --space-l: 20px;
        --space-xl: 24px;
        --space-xxl: 32px;
        --space-xxxl: 40px;
        --space-xxxxl: 48px;
        --space-xxxxxl: 72px;
        --space-1x: 30px;
        --space-2x: 60px;
        --space-3x: 90px
    }

    &:mod(gap small) {
        --full: var(--space-m);
        --half: calc(var(--full) / 2);
        --two-thirds: calc(var(--full) / 3 * 2)
    }

    @media screen and (min-width: 1144px) {
        &:mod(gap small) {
            --full: var(--space-xxxl);
            --half: calc(var(--full) / 2);
            --two-thirds: calc(var(--full) / 3 * 2)
        }
    }

    &:mod(color project-default) {
        --default: #fff;
        --plain: #e6e6e6;
        --accented: #ff3029;
        --border: #ff4f49;
        --border-ghost: #f0f2f3;
        --border-faded: #e5e5e5;
        --background-ghost: #f1f8ff;
        --inverse: #4f4f4f;
        --pale: #fafbfc;
        --primary: #000;
        --secondary: #7f8285;
        --secondary-text: #434445;
        --tertiary: #8694a2;
        --ghost: #b8bec3;
        --faded: #c4c4c4;
        --link-1: #177ffd;
        --link-2: #1774e9;
        --success: #19bc4d;
        --editor-link: #005fba;
        --editor-primary: #00234b;
        --editor-comment: #9ea9b4;
        --editor-header: #f5f5f5;
        --editor-number: #c7c7c7;
        --editor-main: #00234b;
        --diff-reserved: #0433ff;
        --diff-accented: #b4261a;
        --diff-comment: #3ba93b;
        --added-backgound: #e6ffed;
        --deleted-background: #ffeef0;
        --branch: #ff5668;
        --purple: #6b69c7;
        --line: #f0f2f3;
        --line-darker: #e5e5e5
    }

}







