:block(diff-info) {
    display: flex;
    font-family: var(--editor-font);
    font-size: var(--font-xxs);
    line-height: var(--line-m);
    padding: 6px var(--space-s) 0;

    &:mod(color ghost) {
        background: var(--background-ghost);
        color: var(--ghost)
    }

    &:elem(diff) {
        width: 40%;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

    &:elem(nav) {
        width: 60%;
        display: flex;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    &:elem(nav-item) {
        margin-right: var(--space-xxl);

        &:mod(state active) {
            color: var(--primary);
        }
    }
}
