:block(file) {
    color: var(--primary);
    display: inline-flex;
    align-items: center;

    &:mod(type dir) {
        font-weight: bold;
    }

    &:mod(type branch) {
        font-weight: bold;
    }

    &:mod(type file) {
    }

    &:mod(weight bold) {
        font-weight: bold;
    }

    &:elem(icon) {
        width: 12px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: var(--space-xxs);

        &:mod(type dir) {
            background-image: url('dir.svg');
        }

        &:mod(type readme) {
            background-image: url('file_1.svg');
        }

        &:mod(type file) {
            background-image: url('file_2.svg');
        }

        &:mod(type branch) {
            background-image: url('branch.svg');
        }

        &:mod(type code) {
            background-image: url('code_file.svg');
        }
    }
}
